      </div>
    </div>
       </div>
</div>

  <footer>
  <p>&copy; 2025 Solo Traveler. All rights reserved.</p>
  <!--<p>
    <a href="https://www.himpfen.com/about/" class="text-white mx-2">About</a>
    <a href="https://www.himpfen.com/copyright/" class="text-white mx-2">Copyright Notice</a>   
    <a href="https://www.himpfen.com/disclosure-disclaimer/" class="text-white mx-2">Disclosure/Disclaimer</a>   
    <a href="https://www.himpfen.com/privacy/" class="text-white mx-2">Privacy Policy</a>    
    <a href="https://www.himpfen.com/terms/" class="text-white mx-2">Terms</a>    
  </p>-->
</footer>

  <!-- Floating Donate Button -->
  <div class="floating-btn">
    <button
      type="button"
      class="btn btn-donate"
      data-bs-toggle="modal"
      data-bs-target="#donateModal"
    >
      <span class="btn-icon">💖</span>
      Donate
    </button>
  </div>

  <!-- Donate Modal -->
  <div
    class="modal fade"
    id="donateModal"
    tabindex="-1"
    aria-labelledby="donateModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="donateModalLabel">Support My Work</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- JS will populate this entire block -->
          <div id="donateModalBody"></div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
