<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="https://static.himpfen.com/bhicon-transparent-blue.png" type="image/png">
  {%- seo -%}
  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ "/assets/css/style.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/donate.css" | relative_url }}">
</head>
